<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>TMS Lobby display</title>
<link rel="stylesheet" href="/static/style.css" media="screen">
<script type="text/javascript" src="/static/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/static/jquery.tmpl.js"></script>
<script type="text/javascript" src="/static/date.format.js"></script>
<script type="text/javascript" src="/static/tms-wrapper.js"></script>
<script type="text/javascript" src="/static/helper.js"></script>

<script id="movieTemplate" type="x-jquery-tmpl">
	<dt>
		{{if audio_language}}
			<img src="/static/flags/${audio_language}.png" alt="${audio_language}" class="icon">
		{{/if}}
		<b>${title}</b>
		{{if is_3D}}
			<img src="/static/icons/3D.png" alt="3D" class="icon"">
		{{/if}}
	</dt>
		<dd>${start_time} (${duration_h}:${duration_m}h)</dd> 

		{{if subtitle_Language}}
			<dd>Subtitles: <img src="/static/flags/${subtitle_language}.png" alt="${subtitle_language}" class="icon"></dd>
		{{/if}}
		{{if rating}}
			<dd>Rating: ${rating}</dd>
		{{/if}}
		{{if screen_name}}
			<dd>Cinema ${screen_name}</dd>
		{{/if}}
</script>

</head>
<body>
	<header role="banner">
		<nav role="navigation">
			<!-- This can contain your site navigation either in an unordered list or even a paragraph that contains links that allow users to navigate your site -->
		</nav>
	</header>
	<div class="wrap">
		<main role="main">
		<h1>
			<abbr title="Theatre Management System">TMS</abbr> Lobby Display
		</h1>
		<h2 id="title">Upcoming movies</h2>
		<!--
		<section>
			<form id="testform" action="#" method="post">
				<p>
					<label for="name">Name:</label> <input type="text" id="name" /> <input
						type="submit" value="Set" class="button" />
				</p>
			</form>
		</section> 
		-->
		<section>
			<button type="button" class="button" id="scheduling">Call Scheduling</button>
		</section>
		<section>
			<div id="loadingAnimation"><img src="/static/icons/ajax-loader.gif" alt="Loading animation" class="icon"></div>
			<dl id="movieList"><!-- Content gets filled here --></dl>
		</section>
		</main>
	</div>

	<footer role="contentinfo">
		<small>Copyright &copy; <time datetime="2013">2013</time> Arts Alliance Media</small>
	</footer>

</body>
</html>